* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* Sets the background to almost white */
body {
    background-color: #d9dcd6;
}
/* Sets the font and color of the background*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/* Displays the company name in larger font */
.header h1 {
    display: inline-block;
    font-size: 48px;
}
/* Sets the seo to be opaque */
.header h1 .seo {
    color: #d9dcd6;
}
/* Orients the text to the right and to be smaller than the company name */
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/* Sets style type for list to none*/
.header div ul {
    list-style-type: none;
}
/* Allows items to be displayed horizontally with a left margin */
.header div ul li {
    display: inline-block;
    margin-left: 25px;
}
/* Sets the color of the header links and removes any text decoration from the A element */
a {
    color: #ffffff;
    text-decoration: none;
}
/* Sets the font size of the paragraph text elements */
p {
    font-size: 16px;
}
/* Sets the background image and its position on the page */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/* Allows content to be set to the left */
.float-left {
    float: left;
    margin-right: 25px;
}
/* Allows content to be set to the right */
.float-right {
    float: right;
    margin-left: 25px;
}
/* Sets the position of the SEO, online reputation management and social media marketing elements on the page of the site */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/* Sets the format and font of the lead generation, brand awareness and cost management elements of the site */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 940px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Sets the text color and margin of the benefit lead, benefit brand, and benefit cost */
.benefit-lead, .benefit-brand, .benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Sets the subtext size and alignment of the benefit lead, benefit brand, and benefit cost */
.benefit-lead h3, .benefit-brand h3, .benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Sets the margins and display for benefit-lead, brand, and cost images*/
.benefit-lead img, .benefit-brand img, .benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Sets the margins for search engine optimization, reputation, and social media */
.search-engine-optimization, .online-reputation-management, .social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Sets the max height for the images below */
.search-engine-optimization img, .online-reputation-management img, .social-media-marketing img {
    max-height: 200px;
}

/* Sets the font size and margins for h2 */
.search-engine-optimization h2, .online-reputation-management h2, .social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Sets the bottom of the pages formating */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h4 {
    font-size: 20px;
}